{%- extends "base.html" %}
{%- block title %}Container escape{% endblock %}
{%- block home_menu %}active{% endblock %}
{%- block content %}
    <div class="container">
        <h1 class="display-4">Container escape</h1>
        <p class="lead">This is a project that gives you opportunity to solve some challenges, which will teach you about containers and their security</p>
        <hr class="my-4">
        <p>Backend of the project uses Docker and "nested containers". You can check out source code <a href="https://github.com/Billith/container-escape">here</a>.</p>
        <a class="btn btn-primary btn-dark" href="/challenges" role="button">Pwn some containers</a>
    </div>
{%- endblock %}